/* css 미리 만들어놓기  */
.body {
  margin: 0;
}

.p-12 {
  padding: 12px;
}

.br-12 {
  border-radius: 12px;
}

.inline-block {
  display: inline-block;
}

.m-l-12 {
  margin-left: 12px;
}

.bg-c-lightblue {
  background-color: lightblue;
}

.bg-c-lightgray {
  background-color: lightgray;
}

.bg-c-lightcoral {
  background-color: lightcoral;
}
